# IntelliJ
**/.idea
**/*.iml

# Genetic algorithm saves and external sources
java/enemy_agents
java/lib
java/out
java/saves
java/target

# Saved data
**/saved_data
**/saved_runs

# Don't need this file, it has way too many unit definitions in it
java/data/Combat.xml

# Python
**/__pycache__
